<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <style>
        body {
            font-weight: lighter;
        }
        * {
            font-family: "helvetica neue", "Microsoft Yahei", "sans-serif"; 
        }
    </style>
    <title>AO</title>
</head>
<body>
    <form action="http://api.wi.fi/fd" method="post" enctype="multipart/form-data">
        <input type="file" name=""/>
        <input type="submit" value="GO"/>
    </form>
    <div style="font-size:2em;">Edge - Deployment Server</div>
    <br />
    <div style="margin-left:30px; margin-top:10px;">
        <b>In Pool</b>
        <ul>
            <% for(var i=0; i < Pooled.length; i++) { %>
            <li>
                <div><%= Pooled[i].App.uid %> &nbsp;&nbsp; <a href="/unload/<%= Pooled[i].App.uid %>">Unload</a></div>
                <div><%= JSON.stringify(Pooled[i].Status, null, " ") %></div>
                <br />
                
            </li>
            <% } %>
        </ul>
    </div>

    <div style="margin-left:30px; margin-top:40px;">
        <b>Installed</b>
        <ul>
            <% for(var i=0; i < Installed.length; i++) { %>
            <li>
                <div><%= Installed[i].name %> &nbsp;&nbsp; <a href="/load/<%= Installed[i].uid %>">Load</a></div>
            </li>
            <% } %>
        </ul>
    </div>


    <div style="margin-left:30px; margin-top:40px;">
        <b>Devices</b>
        <ul>
            <% for(var i in Devices) { %>
            <li>
                <pre><%-JSON.stringify(Devices[i], undefined, 4)%></pre>
            </li>
            <% } %>
        </ul>
    </div>

    <div style="margin-left:30px; margin-top:40px;">
        <b>networks</b>
        <ul>
            <% for(var i in Networks) { %>
            <li>
                <h3><%- i %></h3>
                <pre><%-JSON.stringify(Networks[i], undefined, 4)%></pre>
            </li>
            <% } %>
        </ul>
    </div>

    <div style="margin-left:30px; margin-top:40px;">
        <b>wlan2g</b>
        <ul>
            <% for(var i in Wlan2g) { %>
            <li>
                <h3><%- i %></h3>
                <pre><%-JSON.stringify(Wlan2g[i], undefined, 4)%></pre>
            </li>
            <% } %>
        </ul>
    </div>

    <div style="margin-left:30px; margin-top:40px;">
        <b>wlan5g</b>
        <ul>
            <% for(var i in Wlan5g) { %>
            <li>
                <h3><%- i %></h3>
                <pre><%-JSON.stringify(Wlan5g[i], undefined, 4)%></pre>
            </li>
            <% } %>
        </ul>
    </div>

    <div style="margin-left:30px; margin-top:40px;">
        <b>bluetooths</b>
        <ul>
            <% for(var i in Bluetooth) { %>
            <li>
                <h3><%- i %></h3>
                <pre><%-JSON.stringify(Bluetooth[i], undefined, 4)%></pre>
            </li>
            <% } %>
        </ul>
    </div>

    <div style="margin-left:30px; margin-top:40px;">
        <b>traffic</b>
        <ul>
            <% for(var i in Traffic) { %>
            <li>
                <h3><%- i %></h3>
                <pre><%-JSON.stringify(Traffic[i], undefined, 4)%></pre>
            </li>
            <% } %>
        </ul>
    </div>

    <div style="margin-left:30px; margin-top:40px;">
        <b>btle</b>
        <ul>
            <% for(var i in BTLE) { %>
            <li>
                <h3><%- i %></h3>
                <pre><%-JSON.stringify(BTLE[i], undefined, 4)%></pre>
            </li>
            <% } %>
        </ul>
    </div>

    <div style="margin-left:30px; margin-top:40px;">
        <b>modules</b>
        <ul>
            <% for(var i in Modules) { %>
            <li>
                <h3><%- i %></h3>
                <pre><%-JSON.stringify(Modules[i], undefined, 4)%></pre>
            </li>
            <% } %>
        </ul>
    </div>
</body>
</html>